section{
    height: 500px;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h2{
    font-size: 50px;
    color: rgb(16, 105, 138);
}
h1{
    font-family: 'Scada', sans-serif;
    font-size: 60px;
    color: #fca903;
}
p{
    line-height: 2;
}




/*****class******/

.top-banner{
    background-image: url("Images/header-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
}
.top-container{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
.top-container img{
    width: 100%;
}
.top-para{
    padding-bottom: 10px;
    padding-right: 280px;
}
.link-btn{
    text-decoration: none;
    background: rgb(230, 82, 24);
    background-image: linear-gradient( rgb(230, 82, 24),tomato);
    border-radius: 5px;
    height: 3px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 25px;
    font-display: inline-block;
    
}

.second-container{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.second-cont-heading{
    color: rgb(92, 205, 209);
    font-size: 40px;
}

.second-banner{
    background-image: url("Images/biography-bg.png");
    background-repeat: no-repeat;
}

.second-para{
    padding-bottom: 10px;
    padding-right: 295px;
}
.latest-work-projects{
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: rgb(224, 221, 221);
    
}
.project-heading1{
    text-align: center;
    color: black;
}
.red-highlight{
    color: rgb(175, 9, 9);
}
.project{
    box-shadow: 10px 10px 40px gray;
    border-radius: 40px;
    width: 22%;
    height: 70%;
    float: left;
    margin-left: 7%;
    padding-top: 2%;
    padding-left: 2%;
    background: white;
    
}
.project img{
    width: 100%;
    
    
}
.project-heading2
{
    font-size: 30px;
    color: rgb(9, 73, 156);
}





.work-bg{
   background-image: url("Images/Group-33094-1.png");
   background-repeat: no-repeat;
   width: 65%;
   height: 55%;
   border-radius: 65px;
   margin-left: 17%;
   margin-top: 8%;
   display: block;
}

#work-heading{
    font-size: 60px;
    font-weight: 4500px;
    padding-left: 8%;
    padding-top: 8%;
    color: white;
}

.work-btn{
    position: relative;
    left: 75%;
    bottom: 38%;
    
}

.skills{
    margin: 30px 0 30px 0;
  }
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }

  .giphy-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .giphy-2 {
    background-color: cyan;
    border-radius: 50%;
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  

#skill-heading-1{
    text-align: center;
    font-size: 60px;
    color: rgb(7, 124, 112);
}
#skill-heading-2{
    padding-top: 30px;
}

#skill-para-1{
    padding-bottom: 10px;
    padding-right: 260px;
}

#skill-para-2{
    padding-bottom: 10px;
    padding-right: 400px;
}

.bottom-container {
    
    margin-top: 25%;
    
  }

  #bottom-heading{
      text-align: center;
      color: rgb(170, 53, 32);
  }

  .bottom-container-icon{
      margin-left: 45%;
  }

  .footer-link-1 img{
    width: 60px;
    height: 60px;
}
.footer-link-2 img{
    width: 60px;
    height: 60px;
}

  .footer-link-3 img{
      width: 60px;
      height: 60px;
  }

  .copyright{
      text-align: center;
  }